* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace
}

.toc-item {
    display: block;
    width: calc(100% - 10px);
    overflow: hidden;
    margin-bottom: 3px
}

.timestamp {
    font-size: 0.6em;
    color: #636363;
}

a:link {
    color: #0b722d
}

a:visited {
    color: #33046c
}

a:hover {
    color: #00a0c3;
    font-weight: bold
}

/* Based on https://www.w3schools.com/css/css3_buttons.asp */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.action-button {
    background-color: #078f7b;
    color: white;
    border: 2px solid #078f7b
}

.action-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #078f7b
}

a.read-more {
    display: inline-block;
    border: 1px dashed #144e4a;
    color: #063632;
    padding: 0 5px;
    margin: auto 2px;
    font-size: .8em;
    text-decoration: none
}

a.read-more:hover {
    border: 1px dashed #665117;
    background: #3b351b;
    color: #e9b82c
}

ul {
    margin-left: 20px
}

ul > li {
    margin-left: 10px
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif
}

h1 {
    margin-top: 15px
}

h1, h2 {
    margin-bottom: 10px
}

body, html {
    background-color: #ffffff;
    color: #2b2b2b;
    font-size: 1.5em;
    line-height: 1.35em;
    width: 100%
}

.table-of-contents {
    font-size: .7em;
    line-height: 1.1em;
    width: 20%;
    overflow-y: auto;
    position: fixed;
    top: 20px;
    bottom: 0
}

.container {
    width: 100%;
    display: inline-block;
    height: 100%
}

.boxes {
    width: 80%;
    float: right;
    display: inline-block
}

.box {
    display: inline-block;
    width: calc(100% - 4px);
    padding: 2px;
    overflow-wrap: anywhere
}

.content {
    width: calc(70% - 25px);
    padding: 0 10px;
    display: inline-block;
    float: left;
    overflow: wrap;
    overflow-wrap: anywhere
}

.note {
    display: inline-block;
    width: calc(30% - 5px);
    padding-left: 5px;
    float: right;
    font-size: .7em
}

.box::after {
    content: "";
    clear: both;
    display: table
}

code {
    border: 1px dashed #25ffd7;
    background: #10423c;
    color: #20ffd6;
    padding-left: 1px;
    padding-right: 1px
}

.highlight {
    border: 1px dashed gray;
    background-color: #000
}

pre {
    font-size: .6em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

hr {
    border: none;
    border-top: 1px dashed gray;
    margin-bottom: 15px
}

.center-text {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center
}

.blue-status {
    display: inline-block;
    border: 1px solid #20deff;
    background: #103b42;
    color: #20deff;
    padding: 0 5px;
    margin: auto 2px;
    font-size: .8em
}

.red-status {
    display: inline-block;
    border: 1px solid #ff2323;
    background: #440101;
    color: #ff2323;
    padding: 0 5px;
    margin: auto 2px;
    font-size: .8em
}

.green-status {
    display: inline-block;
    border: 1px solid #20ff56;
    background: #104210;
    color: #20ff56;
    padding: 0 5px;
    margin: auto 2px;
    font-size: .8em
}

.yellow-status {
    display: inline-block;
    border: 1px solid #ffdd00;
    background: #544801;
    color: #ffdd00;
    padding: 0 5px;
    margin: auto 2px;
    font-size: .8em
}

@media (max-width: 800px) {
    body, html {
        font-size: 1em;
        line-height: 1.2em
    }

    .note {
        padding: 0 10px;
        width: calc(100% - 25px)
    }

    .content {
        padding: 0 10px;
        width: calc(100% - 25px)
    }

    .boxes {
        width: 100%
    }

    .table-of-contents {
        width: 100%;
        position: sticky;
        top: 0;
        background: #defbff;
        overflow: hidden
    }

    .table-of-contents .real-toc {
        display: none
    }
}

pre {
    line-height: 125%
}

td.linenos .normal {
    color: #f1fa8c;
    background-color: #44475a;
    padding-left: 5px;
    padding-right: 5px
}

span.linenos {
    color: #f1fa8c;
    background-color: #44475a;
    padding-left: 5px;
    padding-right: 5px
}

td.linenos .special {
    color: #50fa7b;
    background-color: #6272a4;
    padding-left: 5px;
    padding-right: 5px
}

span.linenos.special {
    color: #50fa7b;
    background-color: #6272a4;
    padding-left: 5px;
    padding-right: 5px
}

.highlight .hll {
    background-color: #ffffcc
}

.highlight {
    background: #f8f8f8;
}

.highlight .c {
    color: #408080;
    font-style: italic
}

/* Comment */
.highlight .err {
    border: 1px solid #FF0000
}

/* Error */
.highlight .k {
    color: #008000;
    font-weight: bold
}

/* Keyword */
.highlight .o {
    color: #666666
}

/* Operator */
.highlight .ch {
    color: #408080;
    font-style: italic
}

/* Comment.Hashbang */
.highlight .cm {
    color: #408080;
    font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
    color: #BC7A00
}

/* Comment.Preproc */
.highlight .cpf {
    color: #408080;
    font-style: italic
}

/* Comment.PreprocFile */
.highlight .c1 {
    color: #408080;
    font-style: italic
}

/* Comment.Single */
.highlight .cs {
    color: #408080;
    font-style: italic
}

/* Comment.Special */
.highlight .gd {
    color: #A00000
}

/* Generic.Deleted */
.highlight .ge {
    font-style: italic
}

/* Generic.Emph */
.highlight .gr {
    color: #FF0000
}

/* Generic.Error */
.highlight .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
.highlight .gi {
    color: #00A000
}

/* Generic.Inserted */
.highlight .go {
    color: #888888
}

/* Generic.Output */
.highlight .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
.highlight .gt {
    color: #0044DD
}

/* Generic.Traceback */
.highlight .kc {
    color: #008000;
    font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
    color: #008000;
    font-weight: bold
}

/* Keyword.Declaration */
.highlight .kn {
    color: #008000;
    font-weight: bold
}

/* Keyword.Namespace */
.highlight .kp {
    color: #008000
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #008000;
    font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
    color: #B00040
}

/* Keyword.Type */
.highlight .m {
    color: #666666
}

/* Literal.Number */
.highlight .s {
    color: #BA2121
}

/* Literal.String */
.highlight .na {
    color: #7D9029
}

/* Name.Attribute */
.highlight .nb {
    color: #008000
}

/* Name.Builtin */
.highlight .nc {
    color: #0000FF;
    font-weight: bold
}

/* Name.Class */
.highlight .no {
    color: #880000
}

/* Name.Constant */
.highlight .nd {
    color: #AA22FF
}

/* Name.Decorator */
.highlight .ni {
    color: #999999;
    font-weight: bold
}

/* Name.Entity */
.highlight .ne {
    color: #D2413A;
    font-weight: bold
}

/* Name.Exception */
.highlight .nf {
    color: #0000FF
}

/* Name.Function */
.highlight .nl {
    color: #A0A000
}

/* Name.Label */
.highlight .nn {
    color: #0000FF;
    font-weight: bold
}

/* Name.Namespace */
.highlight .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Tag */
.highlight .nv {
    color: #19177C
}

/* Name.Variable */
.highlight .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mb {
    color: #666666
}

/* Literal.Number.Bin */
.highlight .mf {
    color: #666666
}

/* Literal.Number.Float */
.highlight .mh {
    color: #666666
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #666666
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #666666
}

/* Literal.Number.Oct */
.highlight .sa {
    color: #BA2121
}

/* Literal.String.Affix */
.highlight .sb {
    color: #BA2121
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #BA2121
}

/* Literal.String.Char */
.highlight .dl {
    color: #BA2121
}

/* Literal.String.Delimiter */
.highlight .sd {
    color: #BA2121;
    font-style: italic
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #BA2121
}

/* Literal.String.Double */
.highlight .se {
    color: #BB6622;
    font-weight: bold
}

/* Literal.String.Escape */
.highlight .sh {
    color: #BA2121
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #BB6688;
    font-weight: bold
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #008000
}

/* Literal.String.Other */
.highlight .sr {
    color: #BB6688
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #BA2121
}

/* Literal.String.Single */
.highlight .ss {
    color: #19177C
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #008000
}

/* Name.Builtin.Pseudo */
.highlight .fm {
    color: #0000FF
}

/* Name.Function.Magic */
.highlight .vc {
    color: #19177C
}

/* Name.Variable.Class */
.highlight .vg {
    color: #19177C
}

/* Name.Variable.Global */
.highlight .vi {
    color: #19177C
}

/* Name.Variable.Instance */
.highlight .vm {
    color: #19177C
}

/* Name.Variable.Magic */
.highlight .il {
    color: #666666
}

/* Literal.Number.Integer.Long */
