---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Yaksha | Home">
	<div class="flex justify-center gap-8 pt-16 pb-8 px-8 md:px-0">
		<p class="font-mono text-xl my-auto md:text-3xl">
			A <a class="font-bold text-primary">manual</a> memory managed,</br>
			compiled to C99,</br>
			<span class="text-xs md:text-lg">programing language with <a class="font-black text-secondary">off-side rule</a> syntax.</span>
		</p>
	
		<img src="/yakshalang.github.io/imgs/typing_code_yaksha.gif" class="h-44 rounded-xl md:h-96"/>
	</div>

	<div class="divider divider-base-300 w-3/4 mx-auto md:w-1/2"/>

	<div class="flex justify-center gap-8 pt-8 pb-8 px-8 md:px-0">
		<img src="/yakshalang.github.io/imgs/code_scroll_yaksha.gif" class="h-44 rounded-xl md:h-96"/>

		<div class="divide-y divide-dotted">
			<p class="font-mono text-xl my-auto pb-4 md:text-4xl">
				Simple. Strict. Speedy.		
			</p>
			<p class="text-sm pt-3 max-w-96">
				Language syntax is minimalistic and has similarities to Python.</br>
				Manual memory management is required.</br>
				New developers should be able to pick up the full syntax in a few hours.</br>
			</p>
		</div>
	</div>

	<div class="divider divider-base-300 w-3/4 mx-auto md:w-1/2"/>

	<div class="flex justify-center gap-8 pt-8 pb-8 px-8 md:px-0">
		<div class="divide-y divide-dotted">
			<p class="font-mono text-xl my-auto pb-2 md:text-4xl">
				All <a class="font-bold text-primary">Fury</a>, No <a class="font-bold text-secondary">Fuss</a>.
			</p>
			<p class="max-w-96 pt-2">
				A randomly generated tree moving in the wind.
			</p>
		</div>
		<img src="/yakshalang.github.io/imgs/wind_tree.gif" class="h-44 rounded-xl md:h-96"/>
	</div>
	
	<div class="divider divider-base-300 w-3/4 mx-auto md:w-1/2"/>

	<div class="flex justify-center gap-8 pt-8 pb-8 px-8 md:px-0">
		<img src="/yakshalang.github.io/imgs/carpntr_tool_run.gif" class="h-44 rounded-xl md:h-96"/>
		<div class="divide-y divide-dotted">
			<p class="font-mono text-xl my-auto pb-2 md:text-4xl">
				A versatile new tool
			</p>
			<p class="text-sm max-w-96 pt-2">
				Yaksha aims to be a simple general purpose language with a minimalistic standard library.
				<br/><br/>
				One goal is to have easy access to GPU/parallel programming (this has not yet begun, and hopefully we can get there) using OpenCL.
				<br/><br/>
				There will be first class support for Windows.
				<br/><br/>
				At the moment, the author plans on using the language (once it reaches a usable level) in personal projects.
			</p>
		</div>
	</div>


</Layout>
