---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replace("yakshalang.github.io", "").slice(1);

const activePageStyling = (path: string) => path == currentPath ? "text-primary" : "";


---

<nav class="bg-base-100">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <img src="/yakshalang.github.io/imgs/yk-banner1.png" class="h-12" alt="Yaksha Banner" />

        <!-- For small devices use consise burger menu, basically just phones -->
        <details class="dropdown dropdown-end md:hidden">
            <summary class="m-1 btn">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                <li><a href="#">Home</a></li>
                <li><a href="#">Lib</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">Playground</a></li>
                <li><a href="#">YAMA</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </details>

        <!-- For larger screen devices like desktops -->
        <div class="hidden w-full md:block md:w-auto">
            <div class="flex rounded-lg space-x-4 text-lg">
                <a href="#" class={`${activePageStyling("")} hover:text-secondary`}>Home</a>
                <a href="#" class={`${activePageStyling("lib")} hover:text-secondary`}>Lib</a>
                <a href="#" class={`${activePageStyling("docs")} hover:text-secondary`}>Docs</a>
                <div class="divider divider-horizontal divider-primary" />
                <a href="#" class={`${activePageStyling("tutorials")} hover:text-secondary`}>Tutorials</a>
                <a href="#" class={`${activePageStyling("demos")} hover:text-secondary`}>Demos</a>
                <a href="#" class={`${activePageStyling("playground")} hover:text-secondary`}>Playground</a>
                <div class="divider divider-horizontal divider-primary" />
                <a href="#" class={`${activePageStyling("blog")} hover:text-secondary`}>Blog</a>
                <a href="#" class={`${activePageStyling("yama")} hover:text-secondary`}>YAMA</a>
            </div>
        </div>

        <label class=" right-8 swap swap-rotate ">
            <input type="checkbox" class="theme-controller" value="light" />
            <svg class="swap-on fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
            <svg class="swap-off fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
        </label>
    </div>
</nav>